body{
    background-color:#506B58;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    align-items: center;
}

.colorsPalete {
    background-color:#8A3BEB;
    background-color:#3BEB6D;
    background-color:#EBA13B;
    background-color:#745796;
    background-color:#506B58;
    background-color:#6B6050;
}

.fontBase {
    color:#EBA13B;
    font-size:large;

}

.form-group2 {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se não couberem */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
  }
  
  .form-group2 label {
    flex-basis: 20%; /* Define a largura mínima de cada label */
    text-align: right;
  }
  
  .form-group2 input {
    flex-basis: 30%; /* Define a largura mínima de cada input */
  }

  /* Estilos do formulário */
  form {
    min-width: 650px;
    max-width: 750px;
    margin: 0 auto; /* Centraliza o formulário na página */
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 10px;
  }
  /*
  .form-group div{
    width: 30%;
    display: block;
    margin-bottom: 5px;
    float: left;
    border:#506B58 1px solid;
  }
  */

  .form-group div {
    border:#506B58 1px solid;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically within the div */
  }

  .form-group div label {
    /*: block;*/
    margin-bottom: 5px;
  }
  .form-group div input {
    /*display: block;*/
    width: 80%;
    /* margin-bottom: 5px;*/
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para os campos agrupados */
  .quantity-group {
    display: flex;
    justify-content: space-between;
  }

  .quantity-group div {
    flex: 1; /* Equal width for each div within the group */
  }  
  .quantity-group input {
    width: 32%; /* Ajustar a largura conforme necessário */
  }

.container {
    min-width: 700px;
    max-width: 800px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste conforme necessário */
  }
  
.form-container {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h1 {
    color: #3BEB6D;
    text-align: center;
    margin-bottom: 20px;
  }
  
 
  label {
    font-weight: bold;
    color: #745796;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  button {
    background-color: #8A3BEB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #506B58;
  }